body {
  margin: 0 auto;
  width: 1000px;
  padding: 30px;
  user-select: none;
  /*min-width: 500px;*/
  background: rgb(244, 247, 252);
}

header {
  /*background: rgba(156,205,251,0.5);*/
  background: rgb(206, 206, 206);
  margin-bottom: 40px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 8px;
}

header > img {
  height: 50px;
  width: 50px;
  /*margin-left: 15px;*/
}

nav {
  display: inline;
  float: right;
  text-align: right;
  font-family: 'Amatic SC', cursive;
  padding: 15px;
}

nav > a {
  margin: 20px;
}

nav > a:hover {
  color: rgb(227, 252, 237);
}

footer {
  margin-top: 40px;
  padding: 15px;
  border-top: 5px black solid;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  font-weight: bold;
  display: inline-block;
  margin-right: 15px;
}

#score-board h2 {
  font-family: 'Amatic SC', cursive;
  margin-top: 5px;
  font-size: 40px;
  font-weight: bold;
}

#cumulative-score h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  font-weight: bold;
}

h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

img {
  height: 300px;
  width: 300px;
}

main {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 35px;
}

#instructions-panel p {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  margin: 30px;
}

#instructions-panel {
  width: 500px;
  background: white;
  position: relative;
  float: right;
  margin-top: 12px;
  margin-left: 1000px;
  border: 2px;
  border-radius: 8px;
}

#categories-panel {
  width: 150px;
  background: white;
  position: relative;
  float: right;
  margin-left: 1000px;
  border: 2px;
  border-radius: 8px;
}

#categories-panel > a {
  display: none;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  text-align: center;
  padding: 10px;
}

#categories-panel > a:hover {
  background: rgb(227, 252, 237);
}

#letter-board {
  height: 200px;
  width: 650px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-left: 10px;
}

#score-board {
  margin-top: 30px;
  height: 50px;
  width: 30%;
  float: left;
  background: rgb(227, 252, 237);
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  display: inline-block;
}

#cumulative-score {
  margin-top: 30px;
  height: 50px;
  width: 50%;
  float: right;
  background: rgb(206, 206, 206);
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  display: inline-block;
}

.blank-letter {
  border-bottom: 5px solid black;
  height: 40px;
  width: 35px;
  margin: 7px;
  font-size: 35px;
  text-align: center;
  font-family: 'Underdog', cursive;
}

.letter {
  height: 40px;
  width: 35px;
  margin: 5px;
  text-align: center;
}

.empty-value {
  height: 40px;
  width: 35px;
  margin: 7px;
}

.word {
  display: flex;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
  /*height: 50px;*/
  width: 600px;
  font-family: 'Underdog', cursive;
}

.notification {
  height: 40px;
}

.notification p {
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
  padding-left: 10px;
  display: inline;
}

.background {
  padding-left: 40px;
}
