body {
  margin: 0 auto;
  padding: 30px;
}

header {
  background: lightgray;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px;
  border-radius: 15px;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  font-weight: bold;
}

img {
  height: 300px;
  width: 300px;
}

main {
  display: flex;
}

#letter-board {
  height: 160px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-left: 50px;
}

.blank-letter {
  background: white;
  border-bottom: 5px solid black;
  height: 40px;
  width: 35px;
  margin: 7px;
}

.letter {
  background: white;
  height: 40px;
  width: 35px;
  margin: 7px;
  font-size: 30px;
  text-align: center;
}

.empty-value {
  background: white;
  height: 40px;
  width: 35px;
  margin: 7px;
}

.word {
  display: flex;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  /*background: gray;*/
  justify-content: center;
  margin-top: 170px;
}

.score-board {
  height: 200px;
  width: 300px;
  background: gray;
}
