body {
  margin: 0 auto;
  padding: 30px;
  background-color: white;
}

header {
  background: lightgray;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px;
  border-radius: 15px;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  font-weight: bold;
}

.image {
  background-image: url("images/hangman7.png");
  background-size: cover;
  height: 300px;
  width: 300px;
  display: inline-block;
  float: left;
  margin: 20px;
}

#letter-board {
  height: 160px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-left: 50px;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border: 1px;
  border-radius: 15px;
}

.blank-letter {
  background: white;
  border-bottom: 5px solid black;
  height: 40px;
  width: 35px;
  margin: 7px;
}

.empty-value {
  background: white;
  height: 40px;
  width: 35px;
  margin: 7px;
}

.word {
  display: flex;
}
